# Data Engineering
google-cloud-storage
google-cloud-bigquery
pandas
db-dtypes
deweydatapy

# Analysis
numpy
scipy
statsmodels
scikit-learn

# Dashboard
streamlit
plotly
altair

# Config
python-dotenv

# Optional: LSEG Workspace integration
refinitiv-data
